body {
  padding: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#todo-list li {
  line-height: 3;
  border-bottom: 1px solid #ccc;
}

#todo-list [type="text"] {
  display: none;
}

#todo-list .editing .content {
  display: none;
}

#todo-list .editing [type="text"] {
  display: inline;
}


#todo-list [data-action="delete"] {
  display: none;
}

#todo-list li:hover [data-action="delete"] {
  display: inline;
}